{% extends 'todoapp/base.html' %}
{% block content %}
    <h1>Register</h1>
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="help-block text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
{% endblock %}