<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.name }}</title>
</head>
<body>
    <b>Task Name: </b> {{ task.name }} <br>
{#     <b>Task Name: </b> {{ object.name }} <br>#}
    <b>Task Description: </b> {{ task.description }} <br>
    <b>Task Deadline: </b> {{ task.deadline }} <br>
    <b>Created by: </b> {{ task.user.username }}

    <br>
    <hr>
    <h3>Comments</h3>
    {{ created_by }}
{#    {% if task.comment_set %}#}
    {% for comment in task.comment_set.all %}
        <i><h4>
            {{ comment.author }} said: {{ comment }} at {{ comment.created_at|date }}
        </h4></i>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
{#    {% endif %}#}
    <form method="post">
        {% csrf_token %}
         {% for field in form %}
             {{ field }}
        {% endfor %}
        <input type="submit" value="Comment">
    </form>

</body>
</html>